@charset "UTF-8"; 

 body{
	 background-color: #d6c6af;
	 line-height: 1.7;
	 color: #434343;
 }
 
 img{
	 max-width: 100%;
 }
 
section,
article{
	margin: 5%;
}

h2{
	font-size: 3rem;
}


span{
	font-weight: 800;
}
 
 .header-page{
	 height: 20px;
 }
 
.portfolio-logo{
	display: flex;
	border-bottom: 1px solid #434343;
	margin: 10px;
}

.logo-img{	
	width: 2rem;
}

.portfolio-name{
	font-size: 15px;
}

.page-title{
	display: flex;
	margin: 5%;
	align-items: center;
}

.page-title-name{
	font-size:5rem;
	text-align: center;
}

.square{
	width: 3rem;
	height: 8rem;
	background-color: #434343;
}

.square-dot{
	background-color: #d6c6af;
	background-image: radial-gradient(circle, #434343 4px, transparent 4px);
	background-size: 20px 20px;
	background-position: 0 0;
	background-repeat: repeat;
	width: 2.5rem;
	height: 7.5rem;
}

.contents{
	display: flex;
	align-items: center;
}

.contents-square{
	width: 1rem;
	height: 1rem;
	background-color: #434343;
}

.profile-set{
	display: flex;
	gap: 5%;
	
}

.sample-photo{
	background-color: beige;
	width: 30%;
	height: auto
}

.history{
	list-style: none;
	line-height: 5rem;
}